[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = https://github.com/grvxs/nvim

[submodule "xmonad/.xmonad/xmonad-git"]
	path = xmonad/.xmonad/xmonad-git
	url = https://github.com/xmonad/xmonad


[submodule "xmonad/.xmonad/xmobar-git"]
	path = xmonad/.xmonad/xmobar-git
	url = https://github.com/jaor/xmobar

[submodule "xmonad/.xmonad/xmonad-contrib-git"]
	path = xmonad/.xmonad/xmonad-contrib-git
	url = https://github.com/xmonad/xmonad-contrib
